$color-red: #fa0505;
$color-green: #089950;
$color-blue: #0064ff;

.message {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

.btn {
    padding: 12px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.task-tracker {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;

    &__spinner {
        margin: 150px auto 0;
        width: 100px;
        height: 100px;

        &__icon {
            width: 100%;
            height: 100%;
            border: 15px solid #fff;
            border-radius: 50%;
            border-top: 15px solid rgb(168, 168, 168);
            border-right: 15px solid rgb(168, 168, 168);
            border-bottom: 15px solid rgb(168, 168, 168);
            animation: spin 1s linear infinite;
        }
    }



    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg)
        }
    }

    &__errormessage {
        text-align: center;
        color: $color-red;
        font-size: 35px;
        margin: 50px 0;
    }

    &__heading {
        text-align: center;
        font-size: 40px;
        margin-bottom: 25px;
    }

    &__form {
        text-align: center;

        &__input {
            width: 300px;
            padding: 10px;
            font-size: 16px;
            text-transform: capitalize;

            &::placeholder {
                font-size: 16px;
            }
        }

        &__add {
            padding: 12px 30px;
            margin-left: 10px;
            font-size: 16px;
            background: $color-green;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        &__error {
            color: $color-red;
        }
    }

    &__table {
        width: 100%;
        margin-top: 40px;

        &__update {
            color: $color-green;
        }

        &__thead {
            font-size: 20px;

            &__tr {
                &__th {
                    padding: 20px 0;

                    &.title {
                        text-align: left;
                    }
                }
            }
        }

        &__tbody {
            &__tr {
                &__th {
                    font-weight: 400;
                    padding: 20px 0;

                    &.task-name {
                        width: 530px;
                        text-align: left;
                    }

                    &__btn {
                        &.btn-edit {
                            background-color: $color-blue;
                        }

                        &.btn-delete {
                            background-color: $color-red;
                            margin-left: 10px;
                        }
                    }

                    &__input-text {
                        width: 100%;
                        padding: 10px 5px;
                        box-sizing: border-box;
                        font-size: 16px;
                    }

                    &__select {
                        padding: 10px 5px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &__modal {
        position: fixed;
        width: 100%;
        height: 100%;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        visibility: hidden;
        z-index: 1;

        &.is-opened {
            visibility: visible;
        }

        &__bg {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            inset: 0;
        }

        &__inner {
            background: #fff;
            width: 50%;
            position: relative;
            z-index: 9999;

            &__title {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
            }

            &__content {
                text-align: center;

                &__input {
                    width: 400px;
                    padding: 10px;
                }

                &__select {
                    padding: 11px;
                    margin-left: 15px;
                }

                &__img {
                    width: 120px;
                }

                &__text {
                    font-size: 20px;
                    margin: 5px 0;
                }

                &__button {
                    text-align: center;
                    margin: 30px auto;
                    display: flex;
                    justify-content: center;
                    gap: 15px;

                    &__btn {
                        &.btn-close {
                            background-color: $color-red;
                        }

                        &.btn-submit {
                            background-color: $color-green;
                        }
                    }
                }
            }
        }
    }
}